#root {

  text-align: center;
}

#Main-app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;


}

/* .card-parent {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto; */
/* } */

.side-bar {
  border: 1px solid black;
  width: 20%;
  max-width: 20%;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  
}